doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="ionicons-2.0.1/css/ionicons.min.css")
        link(rel="stylesheet" href="styles.css")
    body
        div(class="free-chat free-chat-demo")
            div(class="free-chat-menu")
                div(class="free-chat-menu-header free-chat-navs")
                    span(class="free-chat-nav active")
                        i(class="ion-chatbubble-working")
                    span(class="free-chat-nav")
                        i(class="ion-android-contact")
                    span(class="free-chat-nav")
                        i(class="ion-android-contacts")
                div(class="free-chat-user-list free-chat-nav-contents free-iscroll free-chat-item-hover")
                    div(class="free-chat-nav-content active" id="chat-commenting")
                    div(class="free-chat-nav-content" id="chat-friend")
                    div(class="free-chat-nav-content" id="chat-group")
                div(class="free-chat-menu-footer")
                    span(class="free-chat-tool")
                        i(class="ion-ios-search-strong")
                    span(class="free-chat-tool")
                        i(class="ion-ios-plus")
                    span(class="free-chat-tool")
                        i(class="ion-tshirt")
                    span(class="free-chat-tool")
                        i(class="ion-android-settings")

            div(class="free-chat-container")
                div(class="free-chat-container-header")
                    div(class="free-chat-head")
                        div(class="free-chat-avatar")
                            img(src="/images/avatar/1.jpg" id="userAvatar")
                        span(class="free-chat-head-title")
                            input(type="text" value="TG" spellcheck="false")
                div(class="free-chat-container-body free-iscroll")
                div(class="free-chat-container-toolbar")
                    span(class="free-chat-popup")
                        i(class="ion-happy-outline")
                        div(class="free-chat-popup-wrapper" id="free-chat-emotion")
                    span(class="free-tool-image")
                        input(type="file" id="image-file" name="file" accept="image/*")
                        i(class="ion-image")
                    span(class="free-tool-movie")
                        i(class="ion-ios-videocam")
                    span(class="free-tool-music")
                        i(class="ion-headphone")
                div(class="free-chat-container-footer")
                    div(class="free-chat-textarea" contenteditable="true" spellcheck="false")
                    button(class="free-chat-send")
                      i(class="ion-android-send")
        script(src="/socket.io/socket.io.js")
        script(src="database.js")
        script(src="utils.js")
        script(src="main.js")