html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:before, :after {
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: Roboto, Noto Sans, Noto,"Microsoft Yahei",sans-serifsans-serif; }

.free-chat {
  position: relative;
  width: 800px;
  height: 100%; }
  .free-chat:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: -1;
    background: #fff url("images/bg/bg1.jpg") no-repeat top left;
    background-size: cover; }

.free-chat.free-chat-demo {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: none; }

.free-chat-menu {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-right: 1px solid #d9d9d9;
  height: 100%;
  width: 240px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms; }

.free-chat-menu-header,
.free-chat-menu-footer {
  display: flex;
  height: 40px;
  font-size: 22px;
  color: #666;
  background: #f2f2f2; }

.free-chat-menu-footer .free-chat-tool {
  flex-basis: 40px; }

.free-chat-menu-footer .free-chat-tool,
.free-chat-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.free-chat-nav {
  flex-basis: 33.33333%; }
  .free-chat-nav.active {
    background: #fff; }

.free-chat-nav-contents .free-chat-nav-content {
  display: none; }
  .free-chat-nav-contents .free-chat-nav-content.active {
    display: block; }

.free-chat-user-list {
  height: calc(100% - 80px);
  overflow: hidden;
  overflow-y: auto; }

.free-chat-container {
  padding-left: 240px;
  height: 100%; }

.free-chat-item {
  position: relative;
  padding: 12px 20px; }
  .free-chat-item.active {
    background: #f8f8f8; }
  .free-chat-item .upload-file {
    max-width: 100%;
    vertical-align: middle;
    padding: 0 10px; }
  .free-chat-item:before, .free-chat-item:after {
    content: " ";
    display: table; }
  .free-chat-item:after {
    clear: both; }

.free-chat-badge {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 20px;
  height: 20px;
  font-size: 13px;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: red;
  border-radius: 50%;
  transform: translate(0, -50%);
  animation: spinner 1s linear infinite; }
  .free-chat-badge.active {
    display: flex; }

.free-chat-item-hover .free-chat-item:not(.active):hover {
  background: #F2F2F2;
  cursor: pointer; }

.free-chat-avatar {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  line-height: 34px;
  font-size: 15px;
  margin-right: 15px;
  padding: 0 !important;
  float: left;
  text-transform: uppercase; }
  .free-chat-avatar > img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: top; }
  .free-chat-avatar .free-chat-item-status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: #999;
    border-radius: 50%;
    border: 2px solid #fff; }
    .free-chat-avatar .free-chat-item-status.online {
      background: #1aae88; }

.free-chat-item-body {
  zoom: 1;
  display: block;
  width: auto;
  overflow: hidden; }

.free-chat-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: #222; }

.free-chat-item-subtitle {
  font-size: 12px;
  color: #A9A9A9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%; }

.free-chat-container-header {
  position: relative;
  background: #f8f8f8;
  padding: 15px; }

.free-chat-head {
  color: #818181;
  display: flex;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  padding: 0 6px;
  line-height: 33px;
  vertical-align: middle; }

.free-chat-head-title {
  color: #222; }
  .free-chat-head-title input {
    background: transparent;
    border: none;
    padding: 3px 10px;
    outline: none;
    border-radius: 3px; }
    .free-chat-head-title input:focus {
      background: #fff;
      width: 100%;
      border: 1px solid #999; }

.free-chat-message-content {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 3px; }

.free-chat-user-you .free-chat-message-content {
  background: #ffc107;
  color: #fff; }

.free-chat-container-footer,
.free-chat-container-toolbar,
.free-chat-menu {
  background: #fff; }

.free-chat-message-title {
  display: block;
  color: #B3B3B3;
  font-size: 13px;
  margin-bottom: 7px; }

.free-chat-user-me {
  text-align: right; }
  .free-chat-user-me .free-chat-message-content {
    background: #fff; }
  .free-chat-user-me .free-chat-avatar {
    float: right;
    margin-right: 0;
    margin-left: 15px; }

.free-chat-container-body {
  height: calc(100% - 170px);
  overflow: hidden;
  overflow-y: auto; }

.free-chat-container-toolbar {
  display: flex;
  height: 30px;
  color: #333;
  border-top: 1px solid #F1F1F1; }
  .free-chat-container-toolbar > span {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer; }
    .free-chat-container-toolbar > span:hover {
      background: #eee; }

.free-chat-container-footer {
  position: relative;
  display: block;
  text-align: center;
  padding: 7px 10px 8px;
  border-top: 1px solid #F1F1F1;
  line-height: 100%;
  font-size: 11px;
  margin: 0;
  background: #fff;
  color: #828282; }

.free-chat-container-footer,
.free-chat-textarea {
  box-sizing: border-box; }

.free-chat-textarea {
  width: calc(100% - 60px);
  font-size: 13px;
  border: 0;
  padding: 10px 8px;
  height: 60px;
  outline: none;
  text-align: left; }
  .free-chat-textarea .upload-file {
    max-width: 100px;
    vertical-align: middle; }
  .free-chat-textarea .free-chat-emotion {
    width: 25px;
    height: 25px; }

.free-chat-emotion {
  width: 30px;
  height: 30px;
  padding: 5px;
  vertical-align: middle;
  box-sizing: border-box; }

.free-chat-send {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  height: 100%;
  outline: none;
  width: 60px;
  font-size: 24px;
  cursor: pointer;
  background: #F5F5F5;
  color: #2196f3; }

.free-iscroll::-webkit-scrollbar {
  height: 6px;
  width: 6px; }

.free-iscroll::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  outline: 1px solid #333; }

.free-iscroll::-webkit-scrollbar-corner, .free-iscroll::-webkit-scrollbar-track {
  background-color: #ccc; }

.free-chat-popup {
  position: relative; }
  .free-chat-popup.active {
    background: #eee; }
    .free-chat-popup.active .free-chat-popup-wrapper {
      display: flex; }
  .free-chat-popup .free-chat-popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
    padding: 10px;
    flex-wrap: wrap;
    background: #fff;
    display: none;
    transform: translate(0, -100%); }

.free-chat-container-toolbar i {
  font-size: 20px; }

#free-chat-emotion {
  width: 250px; }

.free-chat-popup .free-chat-popup-wrapper,
.free-modal {
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3); }

.free-tool-image input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.free-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10009;
  background: transparent; }

.free-modal {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 10010;
  max-width: 60%;
  min-width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #F6F6F6;
  color: #333;
  opacity: 0;
  border-radius: 3px;
  transition: all .5s;
  transform: translate(-50%, -50%); }
  .free-modal.open {
    top: 50%;
    opacity: 1; }

.free-modal-header {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-bottom: 1px solid #eee; }

.free-modal-header,
.free-modal-footer {
  padding: 5px 10px; }

.free-modal-body {
  padding: 15px; }
  .free-modal-body input {
    width: 100%;
    height: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 0 10px; }

.free-modal-footer {
  display: flex;
  flex-direction: row-reverse; }

.free-chat-item-audio,
.free-chat-item-video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  background: #eee;
  font-size: 20px;
  cursor: pointer; }

.free-chat-item-video {
  width: 100px;
  height: 60px;
  border-radius: 3px; }

.free-chat-item-audio {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.free-chat-audio {
  position: absolute;
  opacity: 0;
  z-index: -1;
  pointer-events: none; }

.free-chat-video {
  width: 400px; }

.btn, .btn:focus, .btn:active, .btn:hover {
  outline: none;
  border: none; }

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 0 .75rem;
  margin: .5rem;
  font-size: .75rem;
  height: 1.5rem;
  border-radius: 2px;
  line-height: 1;
  user-select: none;
  text-decoration: none; }

.btn-default {
  color: #43494d;
  background: #fff; }

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  color: #43494d;
  background-color: #eee; }

.btn-primary {
  color: white;
  background-color: #177bbb;
  border-color: #177bbb; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: white;
  background-color: #115d8e;
  border-color: #105785; }

@-webkit-keyframes spinner {
  0% {
    opacity: .1; }
  100% {
    opacity: 1; } }
@keyframes spinner {
  0% {
    opacity: .1; }
  100% {
    opacity: 1; } }
@media (min-width: 768px) {
  .free-chat-message-content {
    max-width: 70%; } }

/*# sourceMappingURL=styles.css.map */
